@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.place_information_container {
    @include glassEffect;
    
    border-radius: 15px;
	padding: 1.5rem;
	background-color: rgba(255, 255, 255, 0.05);
	max-width: 80%;
	margin: 3rem auto 0;

    .heading {
        @include flexbox(center, flex-start);

        margin: 0 0 2rem 0;

        > h1 {
            color: $white;
			font-size: 22px;
			margin: 0 0 0 1rem;
        }
    }

    > p {
        color: $white;
		opacity: 0.8;
		line-height: 1.66;
    }

    .additional {
        @include flexbox();

        margin: 2rem 0 0 0;

        .rating {
            @include flexbox();

            margin: 0 2rem 0 0;
            padding: 10px 15px;
            border-radius: 30px;
            border: 2px solid rgba(255, 255, 255, 0.04);

            > span {
                color: $white;
                font-weight: bold;
                margin: 0 0 0 0.5rem;
            }
        }

        .duration {
            @extend .rating;
        }

    }


}  