@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.icon_container {
    @include flexbox();
	@include glassEffect;

    border-radius: 50%;
		width: 55px;
		height: 55px;
		background-color: rgba(255, 255, 255, 0.05);
}

.favorities_container {
    position: relative;

    .favorities_list {
        position: absolute;
		visibility: hidden;
		opacity: 0;
		top: 0;
		right: 0;

    }

	.favorities_list_active {
		@include glassEffect;

		visibility: visible;
		opacity: 1;
        background-color: #222223;
			border-radius: 15px;
			padding: 1rem 0;
			z-index: 2;
			width: max-content;
			box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
            transform: translateY(70px);
            transition: transform 0.3s ease-in-out;

            > li {
                > a {
                    text-decoration: none;
					color: $white;
					display: block;
					padding: 0.5rem 2rem;
					transition: background-color 0.4s ease-in-out;

					&:hover {
						background-color: #1c1c1e;
					}
                }
            }
	}
}