$defaultFlexBoxAlign: center;
$defaultFlexBoxJustify: center;

@mixin flexbox($align: $defaultFlexBoxAlign, $justify: $defaultFlexBoxJustify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin hidden() {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }

  @mixin shown() {
    visibility:visible;
    pointer-events: visible;
    opacity: 1;
  }

  @mixin glassEffect() {
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }
  
  @keyframes opac {
    from {
      @include hidden;
    }
  
    to {
      @include shown;
    }
  }